n8n/demo-data/workflows/Backup workflows to git repository.json
{"createdAt":"2025-09-29T16:02:17.120Z","updatedAt":"2025-10-01T09:24:15.104Z","id":"fWycZ9BzpXFvDLdE","name":"Backup workflows to git repository","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"file","operation":"get","owner":"={{$node[\"Globals\"][\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"f2cab83f-3a0c-45bd-84a4-9d254c38d348","name":"GitHub","type":"n8n-nodes-base.github","position":[352,112],"typeVersion":1,"alwaysOutputData":true,"webhookId":"cd30d3e7-de48-4e5f-8767-bb116a12a2c2","credentials":{"githubApi":{"id":"osbPKvcxLxFmNX2L","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"values":{"string":[{"name":"repo.owner","value":"risingstones13-byte"},{"name":"repo.name","value":"n8n"},{"name":"repo.path","value":"n8n/demo-data/workflows/"}]},"options":{}},"id":"d16d0bc8-e246-4c46-a1ac-121acc2ed6f9","name":"Globals","type":"n8n-nodes-base.set","position":[-352,32],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"b144640d-8576-4d2a-8a5b-a57824e5fc80","name":"n8n","type":"n8n-nodes-base.n8n","position":[-112,32],"typeVersion":1,"credentials":{"n8nApi":{"id":"ifhfpsiuQCn0ffWI","name":"n8n account"}}},{"parameters":{"options":{}},"id":"135fdcee-aa2c-4abb-94a6-9497c1fdeadf","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[112,32],"executeOnce":false,"typeVersion":3},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"or","conditions":[{"id":"16a9182d-059d-4774-ba95-654fb4293fdb","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""},{"id":"new-condition-id","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.content }}","rightValue":""}]},"options":{}},"id":"5d0e2fa4-146e-4a3e-9eef-d5ce780179d9","name":"If","type":"n8n-nodes-base.if","position":[544,112],"typeVersion":2.2},{"parameters":{"jsCode":"let items = $input.all()\n\nfor (item of items) {\n    if (item.json.content !== undefined) {\n        item.json.content = Buffer.from(item.json.content, 'base64').toString('utf8')\n    }\n}\n\nreturn items;\n"},"id":"7a1024d6-28fb-4ede-b93d-a74d281dfd35","name":"Code","type":"n8n-nodes-base.code","position":[1104,80],"typeVersion":2},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","mode":""},"repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $(\"Loop Over Items\").item.json.name }}.json","fileContent":"={{ $(\"Loop Over Items\").item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $(\"Loop Over Items\").item.json.name }}.json"},"id":"8306c176-9941-400d-ab9c-2038a0940efb","name":"Update file content and commit","type":"n8n-nodes-base.github","position":[1792,592],"typeVersion":1,"webhookId":"2efe85f5-a31e-40d1-8be7-77b0ca3d01cc","credentials":{"githubApi":{"id":"osbPKvcxLxFmNX2L","name":"GitHub account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"fe0b754f-e83e-4c09-af6b-df31b6e581ba","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-576,32],"typeVersion":1.2},{"parameters":{"content":"Workflow changes committed to the repository","height":80},"id":"79f0bdc3-2086-4ba1-ae43-4486f94b930f","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[1952,608],"typeVersion":1},{"parameters":{"content":"Create a new file for the workflow","height":80},"id":"05e59559-65e2-4de4-ab5e-ceabf00e826c","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[848,288],"typeVersion":1},{"parameters":{"content":"Check if file exists in the repository","height":80},"id":"d322068f-1c3c-4e98-94a2-36c906ba16fd","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[544,0],"typeVersion":1},{"parameters":{"content":"Convert the file contents to JSON string","height":80},"id":"ff15bdaf-b43d-40d9-b38f-068777cce7a2","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1056,-16],"typeVersion":1},{"parameters":{"content":"Get all workflows","height":80},"id":"bba9b260-ea5e-41e7-8db1-e0aa918ee349","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[-176,-80],"typeVersion":1},{"parameters":{"content":"Set variables","height":80},"id":"967e8461-041b-404d-9975-fb25b694dc29","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-432,160],"typeVersion":1}],"connections":{"If":{"main":[[{"node":"Update file content and commit","type":"main","index":0}]],"else":[[{"node":"Code","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code":{"main":[[{"node":"Update file content and commit","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"If","type":"main","index":0}]]},"Globals":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"GitHub","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Globals","type":"main","index":0}]]},"Update file content and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2ee36555-1661-4918-893c-edb6c88096b1","triggerCount":0,"shared":[{"createdAt":"2025-09-30T18:33:05.969Z","updatedAt":"2025-09-30T18:33:05.969Z","role":"workflow:owner","workflowId":"fWycZ9BzpXFvDLdE","projectId":"L7aRCKAusvnw6X1L"}],"tags":[]}