n8n/demo-data/workflows/Backup workflows to git repository.json
{"createdAt":"2025-09-29T16:02:17.120Z","updatedAt":"2025-10-01T16:54:26.140Z","id":"fWycZ9BzpXFvDLdE","name":"Backup workflows to git repository","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"file","operation":"get","owner":{"__rl":true,"value":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","mode":""},"repository":{"__rl":true,"value":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","mode":""},"filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"f2cab83f-3a0c-45bd-84a4-9d254c38d348","name":"GitHub","type":"n8n-nodes-base.github","position":[416,48],"typeVersion":1,"alwaysOutputData":true,"webhookId":"cd30d3e7-de48-4e5f-8767-bb116a12a2c2","credentials":{"githubApi":{"id":"piWq3wniaZU7aqiB","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"values":{"string":[{"name":"repo.owner","value":"risingstones13-byte"},{"name":"repo.name","value":"n8n"},{"name":"repo.path","value":"n8n/demo-data/workflows/"}]},"options":{}},"id":"d16d0bc8-e246-4c46-a1ac-121acc2ed6f9","name":"Globals","type":"n8n-nodes-base.set","position":[-352,32],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"b144640d-8576-4d2a-8a5b-a57824e5fc80","name":"n8n","type":"n8n-nodes-base.n8n","position":[-96,32],"typeVersion":1,"credentials":{"n8nApi":{"id":"F6XrXJkzRyg0b93i","name":"n8n account"}}},{"parameters":{"options":{}},"id":"135fdcee-aa2c-4abb-94a6-9497c1fdeadf","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[112,32],"executeOnce":false,"typeVersion":3},{"parameters":{"resource":"file","operation":"edit","owner":{"__rl":true,"value":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","mode":""},"repository":{"__rl":true,"value":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","mode":""},"filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $(\"Loop Over Items\").item.json.name }}.json","fileContent":"={{ $(\"Loop Over Items\").item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $(\"Loop Over Items\").item.json.name }}.json"},"id":"8306c176-9941-400d-ab9c-2038a0940efb","name":"Update file content and commit","type":"n8n-nodes-base.github","position":[944,288],"typeVersion":1,"webhookId":"2efe85f5-a31e-40d1-8be7-77b0ca3d01cc","credentials":{"githubApi":{"id":"piWq3wniaZU7aqiB","name":"GitHub account"}}},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"fe0b754f-e83e-4c09-af6b-df31b6e581ba","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-576,32],"typeVersion":1.2},{"parameters":{"content":"Workflow changes committed to the repository","height":80,"width":150},"id":"79f0bdc3-2086-4ba1-ae43-4486f94b930f","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[1056,240],"typeVersion":1},{"parameters":{"content":"Create a new file for the workflow","height":80,"width":150},"id":"05e59559-65e2-4de4-ab5e-ceabf00e826c","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[976,-32],"typeVersion":1},{"parameters":{"content":"Check if file exists in the repository","height":80,"width":150},"id":"d322068f-1c3c-4e98-94a2-36c906ba16fd","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[576,-48],"typeVersion":1},{"parameters":{"content":"Convert the file contents to JSON string","height":80,"width":150},"id":"ff15bdaf-b43d-40d9-b38f-068777cce7a2","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[704,416],"typeVersion":1},{"parameters":{"content":"Get all workflows","height":80,"width":150},"id":"bba9b260-ea5e-41e7-8db1-e0aa918ee349","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[-176,-80],"typeVersion":1},{"parameters":{"content":"Set variables","height":80,"width":150},"id":"967e8461-041b-404d-9975-fb25b694dc29","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-432,160],"typeVersion":1},{"parameters":{"resource":"file","owner":{"__rl":true,"value":"={{$node[\"Globals\"].json[\"repo\"][\"owner\"]}}","mode":""},"repository":{"__rl":true,"value":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","mode":""},"filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $(\"Loop Over Items\").item.json.name }}.json","fileContent":"={{ $(\"Loop Over Items\").item.json.toJsonString() }}","commitMessage":"=[N8N Backup] Create {{ $(\"Loop Over Items\").item.json.name }}.json"},"id":"e9f3b5a7-1b2c-4d3e-8f6a-1b2c3d4e5f6a","name":"Create new file and commit","type":"n8n-nodes-base.github","position":[848,32],"typeVersion":1,"webhookId":"3d9b7fa1-dd81-47a0-850e-fac131f23bd8","credentials":{"githubApi":{"id":"piWq3wniaZU7aqiB","name":"GitHub account"}}},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"16a9182d-059d-4774-ba95-654fb4293fdb","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.content }}","rightValue":""}],"combinator":"or"},"options":{}},"id":"618d363f-b3a9-428c-8bf4-987b70e18b2d","name":"If1","type":"n8n-nodes-base.if","position":[528,304],"typeVersion":2.2},{"parameters":{"jsCode":"let items = $input.all()\n\nfor (item of items) {\n    if (item.json.content !== undefined) {\n        item.json.content = Buffer.from(item.json.content, 'base64').toString('utf8')\n    }\n}\n\nreturn items;\n"},"id":"7a1024d6-28fb-4ede-b93d-a74d281dfd35","name":"Code","type":"n8n-nodes-base.code","position":[752,288],"typeVersion":2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"conditions":[{"id":"16a9182d-059d-4774-ba95-654fb4293fdb","operator":{"type":"string","operation":"exists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}],"combinator":"or"},"options":{}},"id":"1243b6d4-2fa5-4542-ace4-a9bb6f8eaaff","name":"If","type":"n8n-nodes-base.if","position":[624,48],"typeVersion":2.2}],"connections":{"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"If","type":"main","index":0}]]},"Globals":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"GitHub","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Globals","type":"main","index":0}]]},"Update file content and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Create new file and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If1":{"main":[[{"node":"Code","type":"main","index":0}]]},"Code":{"main":[[{"node":"Update file content and commit","type":"main","index":0}]]},"If":{"main":[[{"node":"Create new file and commit","type":"main","index":0}],[{"node":"If1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"097cb493-be09-459d-a4ba-d7887ab9913b","triggerCount":0,"shared":[{"createdAt":"2025-10-01T10:27:22.011Z","updatedAt":"2025-10-01T10:27:22.011Z","role":"workflow:owner","workflowId":"fWycZ9BzpXFvDLdE","projectId":"Sbtaknr9w8oSDCFg"}],"tags":[]}