n8n/demo-data/workflows/fWycZ9BzpXFvDLdE.json
{"createdAt":"2025-09-29T16:02:17.120Z","updatedAt":"2025-09-30T17:19:36.918Z","id":"fWycZ9BzpXFvDLdE","name":"Backup workflows to git repository","active":false,"isArchived":false,"nodes":[{"parameters":{"resource":"file","operation":"get","owner":"={{$node[\"Globals\"][\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{$json[\"name\"]}}.json","asBinaryProperty":false,"additionalParameters":{}},"id":"f2cab83f-3a0c-45bd-84a4-9d254c38d348","name":"GitHub","type":"n8n-nodes-base.github","position":[352,112],"typeVersion":1,"alwaysOutputData":true,"webhookId":"cd30d3e7-de48-4e5f-8767-bb116a12a2c2","credentials":{"githubApi":{"id":"KzxO5pEPLs8J0sKT","name":"GitHub account"}},"continueOnFail":true},{"parameters":{"values":{"string":[{"name":"repo.owner","value":"risingstones13-byte"},{"name":"repo.name","value":"n8n"},{"name":"repo.path","value":"n8n/demo-data/workflows"}]},"options":{}},"id":"d16d0bc8-e246-4c46-a1ac-121acc2ed6f9","name":"Globals","type":"n8n-nodes-base.set","position":[-352,32],"typeVersion":1},{"parameters":{"filters":{},"requestOptions":{}},"id":"b144640d-8576-4d2a-8a5b-a57824e5fc80","name":"n8n","type":"n8n-nodes-base.n8n","position":[-112,32],"typeVersion":1,"credentials":{"n8nApi":{"id":"StgmowzkNf0haFRg","name":"n8n account"}}},{"parameters":{"options":{}},"id":"135fdcee-aa2c-4abb-94a6-9497c1fdeadf","name":"Loop Over Items","type":"n8n-nodes-base.splitInBatches","position":[112,32],"executeOnce":false,"typeVersion":3},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"16a9182d-059d-4774-ba95-654fb4293fdb","operator":{"type":"string","operation":"notExists","singleValue":true},"leftValue":"={{ $json.error }}","rightValue":""}]},"options":{}},"id":"5d0e2fa4-146e-4a3e-9eef-d5ce780179d9","name":"If","type":"n8n-nodes-base.if","position":[544,112],"typeVersion":2.2},{"parameters":{"conditions":{"options":{"version":2,"leftValue":"","caseSensitive":true,"typeValidation":"strict"},"combinator":"and","conditions":[{"id":"e0c66624-429a-4f1f-bf7b-1cc1b32bad7b","operator":{"type":"string","operation":"notEquals"},"leftValue":"={{ $json.content }}","rightValue":"={{ $(\"Loop Over Items\").item.json.toJsonString() }}"}]},"options":{}},"id":"20f79483-c526-4075-943b-aa7ab142547f","name":"If1","type":"n8n-nodes-base.if","position":[1424,384],"typeVersion":2.2},{"parameters":{"jsCode":"let items = $input.all()\n\nfor (item of items) {\n    item.json.content = Buffer.from(item.json.content, 'base64').toString('utf8')\n}\n\nreturn items;\n"},"id":"7a1024d6-28fb-4ede-b93d-a74d281dfd35","name":"Code","type":"n8n-nodes-base.code","position":[1104,80],"typeVersion":2},{"parameters":{"resource":"file","owner":"={{$node[\"Globals\"][\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $(\"Loop Over Items\").item.json.name }}.json","fileContent":"={{ $(\"Loop Over Items\").item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $(\"Loop Over Items\").item.json.name }}.json"},"id":"fdae8596-17a6-4bed-82a5-1eb2e3af3263","name":"Create new file and commit","type":"n8n-nodes-base.github","position":[736,272],"typeVersion":1,"webhookId":"c4c4f471-cbf0-4cb4-844b-9574a50068ec","credentials":{"githubApi":{"id":"KzxO5pEPLs8J0sKT","name":"GitHub account"}}},{"parameters":{"resource":"file","operation":"edit","owner":"={{$node[\"Globals\"][\"repo\"][\"owner\"]}}","repository":"={{$node[\"Globals\"].json[\"repo\"][\"name\"]}}","filePath":"={{$node[\"Globals\"].json[\"repo\"][\"path\"]}}{{ $(\"Loop Over Items\").item.json.name }}.json","fileContent":"={{ $(\"Loop Over Items\").item.json.toJsonString()  }}","commitMessage":"=[N8N Backup] {{ $(\"Loop Over Items\").item.json.name }}.json"},"id":"8306c176-9941-400d-ab9c-2038a0940efb","name":"Update file content and commit","type":"n8n-nodes-base.github","position":[1792,592],"typeVersion":1,"webhookId":"2efe85f5-a31e-40d1-8be7-77b0ca3d01cc"},{"parameters":{"rule":{"interval":[{"field":"minutes"}]}},"id":"fe0b754f-e83e-4c09-af6b-df31b6e581ba","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","position":[-576,32],"typeVersion":1.2},{"parameters":{"content":"Workflow changes committed to the repository","height":80},"id":"79f0bdc3-2086-4ba1-ae43-4486f94b930f","name":"Sticky Note","type":"n8n-nodes-base.stickyNote","position":[1952,608],"typeVersion":1},{"parameters":{"content":"Check if there are any changes in the workflow","height":80},"id":"3cdb3b4b-e0a6-4163-9414-b833d90b8201","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","position":[1568,384],"typeVersion":1},{"parameters":{"content":"Create a new file for the workflow","height":80},"id":"05e59559-65e2-4de4-ab5e-ceabf00e826c","name":"Sticky Note2","type":"n8n-nodes-base.stickyNote","position":[848,288],"typeVersion":1},{"parameters":{"content":"Check if file exists in the repository","height":80},"id":"d322068f-1c3c-4e98-94a2-36c906ba16fd","name":"Sticky Note3","type":"n8n-nodes-base.stickyNote","position":[544,0],"typeVersion":1},{"parameters":{"content":"Convert the file contents to JSON string","height":80},"id":"ff15bdaf-b43d-40d9-b38f-068777cce7a2","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","position":[1056,-16],"typeVersion":1},{"parameters":{"content":"Get all workflows","height":80},"id":"bba9b260-ea5e-41e7-8db1-e0aa918ee349","name":"Sticky Note5","type":"n8n-nodes-base.stickyNote","position":[-176,-80],"typeVersion":1},{"parameters":{"content":"Set variables","height":80},"id":"967e8461-041b-404d-9975-fb25b694dc29","name":"Sticky Note6","type":"n8n-nodes-base.stickyNote","position":[-432,160],"typeVersion":1}],"connections":{"If":{"main":[[{"node":"Code","type":"main","index":0}],[{"node":"Create new file and commit","type":"main","index":0}]]},"If1":{"main":[[{"node":"Update file content and commit","type":"main","index":0}],[{"node":"Loop Over Items","type":"main","index":0}]]},"n8n":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Code":{"main":[[{"node":"If1","type":"main","index":0}]]},"GitHub":{"main":[[{"node":"If","type":"main","index":0}]]},"Globals":{"main":[[{"node":"n8n","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"GitHub","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"Globals","type":"main","index":0}]]},"Create new file and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Update file content and commit":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"879b903c-19fc-4d85-a23d-2da31147d492","triggerCount":0,"shared":[{"createdAt":"2025-09-29T16:02:17.120Z","updatedAt":"2025-09-29T16:02:17.120Z","role":"workflow:owner","workflowId":"fWycZ9BzpXFvDLdE","projectId":"ExxlwN7Kq8sF7XLc","project":{"createdAt":"2025-09-29T12:32:42.384Z","updatedAt":"2025-09-29T12:43:32.878Z","id":"ExxlwN7Kq8sF7XLc","name":"Takao ISHII <rising.stones13@gmail.com>","type":"personal","icon":null,"description":null,"projectRelations":[{"createdAt":"2025-09-29T12:32:42.384Z","updatedAt":"2025-09-29T12:32:42.384Z","userId":"75bc1f2c-df11-4041-9ed4-690d0d76ec1e","projectId":"ExxlwN7Kq8sF7XLc","user":{"createdAt":"2025-09-29T12:32:40.007Z","updatedAt":"2025-09-30T16:43:08.699Z","id":"75bc1f2c-df11-4041-9ed4-690d0d76ec1e","email":"rising.stones13@gmail.com","firstName":"Takao","lastName":"ISHII","personalizationAnswers":null,"settings":{"userActivated":false},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2025-09-30","isPending":false}}]}}],"tags":[]}