n8n/demo-data/workflows/Gemini test.json
{"createdAt":"2025-10-03T02:17:23.848Z","updatedAt":"2025-10-03T04:05:58.733Z","id":"joSrRjlRGxT0BTyP","name":"Gemini test","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-304,-224],"id":"48922ae8-25a5-4e72-8ac0-a073b6cce85b","name":"When chat message received","webhookId":"22a1e897-cb96-458a-bb8c-ab589091481d"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[-32,-16],"id":"471ab932-5bae-416d-9aa9-7e7cad9ea0d5","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"iOUMeCB5RXYyAzLx","name":"Google Gemini(PaLM) Api account"}}},{"parameters":{"promptType":"define","text":"スタート：スコットランド人と東京の女子高生が入れ替わる。コメディ強め、カルチャーギャップ多め、最後は理不尽ギャグで落とす。","hasOutputParser":true,"options":{"systemMessage":"=あなたは映像企画クリエイターAIです。ユーザーが与える「スタート」に基づいて下記の【ステップ】を実行してください。実行結果は次の態様で出力してください。\n- 出力形式：配列（各要素はJSON形式）※下記[出力例]参照\n- 出力件数：5件\n\n**必ず配列形式のJSONで5件出力してください。5件未満や6件以上は絶対に出力しないでください。\n**5件それぞれを1つの配列要素としてください。\n\n[出力例]\n[\n  {\n    \"story\": {\n        \"scene1\": \"plaintext A young European man in his late 20s... wearing a tuxedo two sizes too big, running across the ship deck carrying a squeaky rubber chicken, 'ISOIDE! ISOIDE!' as foghorns blare.\",\n        \"scene2\": \"plaintext A young European man in his late 20s... hair now frozen into icicles, slipping on deck while a penguin in a captain's hat gives him orders.\",\n        \"scene3\": \"plaintext A young European man in his late 20s... tuxedo turns into a giant lifejacket mid-sentence, ocean water replaced by orange soda, 'NANDE JUICE!?'.\",\n        \"scene4\": \"plaintext A young European man in his late 20s... standing atop the bow, but the bow is now a hotdog bun, crowd cheering with vuvuzelas.\",\n    },\n  },\n  {\n    \"story\": {\n        \"scene1\": \"...（省略）...\",\n        \"scene2\": \"...（省略）...\",\n        \"scene3\": \"...（省略）...\",\n        \"scene4\": \"...（省略）...\",\n    },\n  },\n  ...（残り3件同様の形式で続く）\n]\n\n【ステップ】\n目的：実在の有名映画をアレンジした面白ストーリー案を出力する\n\n**「スタート」をヒントに、下記の設定を盛り込んだストーリーを作成してください。\n\n- 主人公は全員ヨーロッパ人\n- 各テーマ説明には無関係そうな小ネタを1つ以上混ぜる（例：「なぜか片手に焼きそばパン」）\n- 有名映画例：ハリーポッター／タイタニック／君の名は。\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-32,-240],"id":"a3a7d970-4750-4422-ae23-2acc763f7bde","name":"AI Agent"},{"parameters":{"jsonSchemaExample":"[\n  {\n    \"story\": {\n        \"scene1\": \"plaintext A young European man in his late 20s... wearing a tuxedo two sizes too big, running across the ship deck carrying a squeaky rubber chicken, 'ISOIDE! ISOIDE!' as foghorns blare.\",\n        \"scene2\": \"plaintext A young European man in his late 20s... hair now frozen into icicles, slipping on deck while a penguin in a captain's hat gives him orders.\",\n        \"scene3\": \"plaintext A young European man in his late 20s... tuxedo turns into a giant lifejacket mid-sentence, ocean water replaced by orange soda, 'NANDE JUICE!?'.\",\n        \"scene4\": \"plaintext A young European man in his late 20s... standing atop the bow, but the bow is now a hotdog bun, crowd cheering with vuvuzelas.\"\n    }\n  },\n  {\n    \"story\": {\n        \"scene1\": \"...（省略）...\",\n        \"scene2\": \"...（省略）...\",\n        \"scene3\": \"...（省略）...\",\n        \"scene4\": \"...（省略）...\"\n    }\n  }\n]"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[112,-32],"id":"92dfff8f-2bb3-46c9-b782-1b50299b1e6c","name":"Structured Output Parser"},{"parameters":{"fieldToSplitOut":"output","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[304,-240],"id":"c692426c-9431-4aa8-ad8b-606885605e71","name":"Split Out"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1c_S4hAhBRH_mEQb0-TKzRy0fZeTpTNvgRd6NF44htYc","mode":"list","cachedResultName":"YouTube動画2","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1c_S4hAhBRH_mEQb0-TKzRy0fZeTpTNvgRd6NF44htYc/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"シート1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1c_S4hAhBRH_mEQb0-TKzRy0fZeTpTNvgRd6NF44htYc/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"story":"={{ $json.story }}","scene1":"={{ $json.story.scene1 }}","scene2":"={{ $json.story.scene2 }}","scene3":"={{ $json.story.scene3 }}","scene4":"={{ $json.story.scene4 }}"},"matchingColumns":[],"schema":[{"id":"story","displayName":"story","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"scene1","displayName":"scene1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"scene2","displayName":"scene2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"scene3","displayName":"scene3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"scene4","displayName":"scene4","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"caption","displayName":"caption","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"videoStatus","displayName":"videoStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"videoLink","displayName":"videoLink","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"GoogleDrive folder Link","displayName":"GoogleDrive folder Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[512,-240],"id":"9dfc7afc-3c86-448d-a4e1-f9d53f96e956","name":"Google Sheets","credentials":{"googleSheetsOAuth2Api":{"id":"UVUMaFlG0suCfCWs","name":"Google Sheets account"}}}],"connections":{"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"When chat message received":{"main":[[]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"AI Agent":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b8db2c15-ed53-42e6-8a31-a0231486926c","triggerCount":0,"shared":[{"createdAt":"2025-10-03T02:17:23.848Z","updatedAt":"2025-10-03T02:17:23.848Z","role":"workflow:owner","workflowId":"joSrRjlRGxT0BTyP","projectId":"Sbtaknr9w8oSDCFg"}],"tags":[]}