n8n/demo-data/workflows/placeholder_id_2.json
{
  "createdAt": "2025-09-29T13:05:22.185Z",
  "updatedAt": "2025-09-29T14:56:04.458Z",
  "id": "placeholder_id_2",
  "name": "LINE to Email",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "path": "webhook-line",
        "options": {}
      },
      "name": "LINE Trigger",
      "type": "n8n-nodes-line-messaging.LineMessagingTrigger",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "credentials": {
        "lineApi": {
          "id": "YOUR_LINE_CREDENTIAL_ID",
          "name": "YOUR_LINE_CREDENTIAL_NAME"
        }
      },
      "id": "7761e815-d09f-454b-8160-6f08cf14b2b1"
    },
    {
      "parameters": {
        "subject": "New LINE Message",
        "text": "Received a new message from LINE:\n\n{{$json.events[0].message.text}}",
        "to": "test@example.com"
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        650,
        300
      ],
      "credentials": {
        "smtp": {
          "id": "YOUR_SMTP_CREDENTIAL_ID",
          "name": "YOUR_SMTP_CREDENTIAL_NAME"
        }
      },
      "id": "7eb4206a-249e-4d57-8c2b-48c6e93698b3"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "lineMessage",
              "value": "={{$json.events[0].message.text}}"
            }
          ]
        },
        "options": {}
      },
      "name": "Set Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "id": "235cae45-6993-4d87-bbae-9f4f3cefd858"
    }
  ],
  "connections": {
    "LINE Trigger": {
      "main": [
        [
          {
            "node": "Set Message",
            "type": "main"
          }
        ]
      ]
    },
    "Set Message": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main"
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "273934ef-2a87-446e-abe1-9cd1191589ba",
  "triggerCount": 0,
  "tags": [],
  "shared": [
    {
      "createdAt": "2025-09-29T13:05:22.185Z",
      "updatedAt": "2025-09-29T13:05:22.185Z",
      "role": "workflow:owner",
      "workflowId": "placeholder_id_2",
      "projectId": "ExxlwN7Kq8sF7XLc",
      "project": {
        "createdAt": "2025-09-29T12:32:42.384Z",
        "updatedAt": "2025-09-29T12:43:32.878Z",
        "id": "ExxlwN7Kq8sF7XLc",
        "name": "Takao ISHII <rising.stones13@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null
      }
    }
  ]
}