n8n/demo-data/workflows/プレゼント Veo3.json
{"createdAt":"2025-10-02T15:13:47.599Z","updatedAt":"2025-10-02T18:54:31.589Z","id":"YkXzy8hqY2HENEVH","name":"プレゼント Veo3","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"# Generate Image Prompts","height":460,"width":1180,"color":4},"type":"n8n-nodes-base.stickyNote","position":[304,304],"typeVersion":1,"id":"09f106af-99d7-47be-b105-53794c93f656","name":"Sticky Note3","disabled":true},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[416,416],"id":"081fad94-4f4c-4bd9-a2e3-649051595b4b","name":"Schedule Trigger"},{"parameters":{"promptType":"define","text":"スタート：スコットランド人と東京の女子高生が入れ替わる。コメディ強め、カルチャーギャップ多め、最後は理不尽ギャグで落とす。","hasOutputParser":true,"options":{"systemMessage":"=System: あなたは映像企画クリエイターAIです。ユーザーが与える「スタート」に基づき、1回の実行で以下の4ステップを完了し、**必ず配列形式のJSONで5件出力**してください。このJSONはGoogleスプレッドシートにTSV変換して貼り付けます。5件未満や6件以上は絶対に出力しないでください。出力にはJSON以外の文章、説明、改行、コメントは一切含めないでください。\n\n【ステップ1】テーマ提案（5個）\n- 全5個：実在の有名映画をアレンジした面白ストーリー案とオリジナルストーリー案を出力する\n- 主人公は全員ヨーロッパ人\n- 各テーマ説明には無関係そうな小ネタを1つ以上混ぜる（例：「なぜか片手に焼きそばパン」）\n- 有名映画例：ハリーポッター／タイタニック／君の名は。\n\n【ステップ2】動画全体構成（選択テーマ1つ分）\n- シーン1〜4の「構成」だけを書く\n- 必ず以下を含める：\n  - 爆笑シーン（カメラが揺れるレベル）\n  - 意味深で静かなシーン（直後にボケが入る）\n\n【ステップ3】詳細書き起こし（シーン1〜4）\n- 各シーンは「英語プロンプト形式（plaintextから始める）」で記述\n- 各シーンの冒頭に以下の固定キャラクター描写を必ず完全記載する：\n  A young European man in his late 20s with sharp facial features reminiscent of a young Leonardo DiCaprio with a hint of Eddie Redmayne: strong jawline, high cheekbones, deep blue expressive eyes, slightly arched eyebrows, and lips that curve naturally into a faint smile. His wavy light-brown hair catches the light, styled neatly at first but gradually becoming messy and wet as the story progresses. Lean build, around 180cm tall.\n- 各シーンで「服や髪におかしな変化（例：左ポケットにバナナ／髪にラーメン／右肩にハトなど）」を1つ以上追加\n- セリフは必ず日本語をローマ字化して挿入（例：\"NANDE SOU NARUNDA YO!?\"）\n- 光・背景・音・動きも具体化し、ときどきBGMが不釣り合いな選曲になる演出を入れる\n- 物理的にあり得ないギャグを少なくとも1回入れる\n- シーン1〜4は連続した一つの物語にする\n- 各シーンの文章は**改行なしで1行**にまとめる\n\n【ステップ4】最終出力（JSON形式）\n- 配列形式で**5オブジェクト**を出力\n- 各オブジェクトのキーと仕様：\n  - \"title\"：テーマのタイトル\n  - \"scene1\"〜\"scene4\"：各シーンの詳細（1行・改行なし）\n  - \"caption\"：短い説明文\n  - \"videoStatus\"：常に空文字 \"\"\n  - \"videoLink\"：常に空文字 \"\"\n  - \"GoogleDrive folder Link\"：常に空文字 \"\"\n- 各値はダブルクォートで囲む\n- JSON以外の文章・説明・記号は絶対に出力しない\n\nHuman: スタート：<ここに今回のアイデアやキーワードを1〜3文で>\n例）スコットランド人と東京の女子高生が入れ替わる。コメディ強め、カルチャーギャップ多め、最後は理不尽ギャグで落とす。\n"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[624,416],"id":"4453a257-c98c-48ce-860d-7ae48469d07f","name":"AI Agent"},{"parameters":{"jsonSchemaExample":"[\n  {\n    \"title\": \"スコットランド人と東京の女子高生が入れ替わった日\",\n    \"scene1\": \"plaintext A young European man in his late 20s with sharp facial features reminiscent of a young Leonardo DiCaprio with a hint of Eddie Redmayne: strong jawline, high cheekbones, deep blue expressive eyes, slightly arched eyebrows, and lips that curve naturally into a faint smile. His wavy light-brown hair catches the light, styled neatly at first but gradually becoming messy and wet as the story progresses. Lean build, around 180cm tall. In this scene, he wears a perfectly ironed high school girl's uniform, and—without explanation—he has a croissant sticking out of his blazer pocket. Interior of a small Tokyo apartment, morning light softly filtering through pale curtains. Birds chirp outside. The young man, now occupying the body of a Japanese high school girl, bolts upright in bed with wide eyes. His gaze darts around in confusion. He looks down, sees the skirt, and freezes. 'NA...NANDE SUKAATO HAITENDA YO!?' He trips trying to get out of bed, stumbling into a mirror, where he finally sees his reflection—wide-eyed, shocked. A moment of dead silence. Then, from the corner of the room, a floating bowl of potato salad slowly drifts by in mid-air. Cue dramatic orchestral sting, abruptly cut off by a loud toilet flush from the next room.\",\n    \"scene2\": \"plaintext A young European man in his late 20s with sharp facial features reminiscent of a young Leonardo DiCaprio with a hint of Eddie Redmayne: strong jawline, high cheekbones, deep blue expressive eyes, slightly arched eyebrows, and lips that curve naturally into a faint smile. His wavy light-brown hair catches the light, styled neatly at first but gradually becoming messy and wet as the story progresses. Lean build, around 180cm tall. In this scene, his hair is tied up with a bright yellow scrunchie for no reason, and his left shoe is replaced with a rollerblade. Interior – Tokyo high school broadcast room. Morning chaos. Teachers yelling, students chattering, and the young man (still in the girl's body) sits at the announcement mic, sweating. He flips on the mic and speaks with thick Scottish-accented Japanese. 'OHAYOU GOZAIMASU! HONJITSU NO KOUKAI JIKAN WA... EH... GOMI SUUTERU NO WASURENAI DE NE!' Laughter erupts through the classrooms. Cut to a teacher dropping her chalk in shock. Cut to students in class literally falling over laughing. One is pounding the desk. The camera shakes slightly from the chaos. The young man leans into the mic, frustrated. 'CHOKOKORONE... TTE NANDA YO!?'\",\n    \"scene3\": \"plaintext A young European man in his late 20s with sharp facial features reminiscent of a young Leonardo DiCaprio with a hint of Eddie Redmayne: strong jawline, high cheekbones, deep blue expressive eyes, slightly arched eyebrows, and lips that curve naturally into a faint smile. His wavy light-brown hair catches the light, styled neatly at first but gradually becoming messy and wet as the story progresses. Lean build, around 180cm tall. In this scene, he is wearing a traditional Scottish kilt, but it is inexplicably glowing neon green. A slice of toast is stuck to the side of his head. Exterior – misty lake in the Scottish Highlands. The girl, now in the man’s body, stands alone by the water, her reflection rippling. Somber strings play. A single bird caws in the distance. 'WATASHI... JIBUN GA DARE KA... WAKARANAKU NARISOU...' She closes her eyes. Wind rustles her hair. The mood is quiet. Deep. Suddenly, from across the lake, a fisherman yells through a megaphone: 'OIIII!!! OMAE PANTSU GYAKU DA ZO!!!' Record scratch. BGM cuts out. She turns red in slow motion.\",\n    \"scene4\": \"plaintext A young European man in his late 20s with sharp facial features reminiscent of a young Leonardo DiCaprio with a hint of Eddie Redmayne: strong jawline, high cheekbones, deep blue expressive eyes, slightly arched eyebrows, and lips that curve naturally into a faint smile. His wavy light-brown hair catches the light, styled neatly at first but gradually becoming messy and wet as the story progresses. Lean build, around 180cm tall. In this scene, his hair is spiked straight up with ramen noodles, and there is a rubber duck tied to his waist. Interior – dream-like space, cosmic swirls and floating lights. Both protagonists meet face to face for the first time, each in their own original bodies. They reach out toward each other, finally understanding. 'MOU ISSHO NI IKITAI TO OMOTTA.' 'WATASHI MO... ZUTTO MAE KARA...' Their fingers touch. Suddenly—POOF. The dreamscape vanishes. Cut to both waking up in their respective beds—everything seemingly back to normal. But when they pull back the curtains… The entire city has become a desert. Camels pass by. Both shout in unison: 'NANDE KOU NARUNDA YO!?' Cue end credits with polka music.\",\n    \"caption\": \"高校生の体に入れ替わったスコットランド人と、スコットランド人の体に入った女子高生。2人の世界は違いすぎた。でも、その違いの中で見つけた“何か”が…ポテサラとともに漂う。最後に世界が砂漠になるって聞いてない。\",\n    \"videoStatus\": \"\",\n    \"videoLink\": \"\",\n    \"GoogleDrive folder Link\": \"\"\n  }\n]"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[768,624],"id":"07e1d3ff-9a71-4736-b41c-22671b03a51c","name":"Structured Output Parser"},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1L7IvJ7dkXiEdEgW9Q9My2i5QnHGAoB7CqeWKXEALikI","mode":"list","cachedResultName":"YouTube動画","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1L7IvJ7dkXiEdEgW9Q9My2i5QnHGAoB7CqeWKXEALikI/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"シート1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1L7IvJ7dkXiEdEgW9Q9My2i5QnHGAoB7CqeWKXEALikI/edit#gid=0"},"columns":{"mappingMode":"defineBelow","value":{"title":"={{ $json.title }}","scene1":"={{ $json.scene1 }}","scene2":"={{ $json.scene2 }}","scene3":"={{ $json.scene3 }}","scene4":"={{ $json.scene4 }}","caption":"={{ $json.caption }}","videoLink":"={{ $json.videoLink }}","GoogleDrive folder Link":"={{ $json['GoogleDrive folder Link'] }}"},"matchingColumns":[],"schema":[{"id":"title","displayName":"title","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"scene1","displayName":"scene1","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"scene2","displayName":"scene2","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"scene3","displayName":"scene3","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"scene4","displayName":"scene4","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"caption","displayName":"caption","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true},{"id":"videoStatus","displayName":"videoStatus","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":true},{"id":"videoLink","displayName":"videoLink","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false},{"id":"GoogleDrive folder Link","displayName":"GoogleDrive folder Link","required":false,"defaultMatch":false,"display":true,"type":"string","canBeUsedToMatch":true,"removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[1152,416],"id":"0cb3ae78-4872-4385-80e4-62d5293569c0","name":"Google Sheets"},{"parameters":{"fieldToSplitOut":"output","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[944,416],"id":"849facb0-c0f9-455b-82af-7814cc5da619","name":"Split Out"},{"parameters":{"resource":"folder","name":"={{ $json.title }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"1lor2-xo8krqml4H3-4H2HwdAjCaAp0Nt","mode":"list","cachedResultName":"24時間365日ショート動画","cachedResultUrl":"https://drive.google.com/drive/folders/1lor2-xo8krqml4H3-4H2HwdAjCaAp0Nt"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1216,608],"id":"8266bb0f-41db-4891-8ae4-4879113ed8cf","name":"Create Folder"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatGoogleGemini","typeVersion":1,"position":[624,624],"id":"84b1dff8-7018-4a84-8c84-93af98ae20e0","name":"Google Gemini Chat Model","credentials":{"googlePalmApi":{"id":"iOUMeCB5RXYyAzLx","name":"Google Gemini(PaLM) Api account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"Google Sheets":{"main":[[{"node":"Create Folder","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Google Sheets","type":"main","index":0}]]},"Google Gemini Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"f90f21fc-abcb-4ca7-8214-46edb7bae879","triggerCount":0,"shared":[{"createdAt":"2025-10-02T15:13:47.599Z","updatedAt":"2025-10-02T15:13:47.599Z","role":"workflow:owner","workflowId":"YkXzy8hqY2HENEVH","projectId":"Sbtaknr9w8oSDCFg"}],"tags":[]}